# PyCharm proje dosyaları
.idea/

# Python bytecode ve cache dosyaları
__pycache__/
*.py[cod]
*$py.class

# Sanal ortam klasörleri
venv/
env/
.venv/

# Geçici dosyalar ve sistem dosyaları
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Model ağırlık dosyaları (örnek: YOLO modelleri)
*.pt

# Çıktı görselleri klasörü (eğer Git'e eklenmesi istenmiyorsa)
outputs/

# Jupyter notebook checkpointleri (varsa)
.ipynb_checkpoints/